 .top-level-menu {
	padding: 0;
	height: 50px;
	list-style-type: none;
	background-color: #333;
}

.top-level-menu > li {
	position: relative;
	float: left;
    width: 150px;
}

.top-level-menu > li:hover { background: #111; }

.top-level-menu > li a:hover:not(.active) {
	background-color: #111;
}

.top-level-menu li:hover > ul {
    display: block;
}

.top-level-menu a {
	display: block;
	padding-left: 10px;	
	font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
	line-height: 50px;
	color: white;
}

.second-level-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: -40px;
	width: 150px;
	list-style-type: none;
}

.second-level-menu > li {
	position: relative;
	height: 50px;
	background-color: #219A23;
}

.second-level-menu > li:hover { background: #111; }

.third-level-menu {
	display: none;
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style-type: none;
}

.third-level-menu > li {
    height: 50px;
    background: #218923;
}

.third-level-menu > li:hover { background: #111; }

.active {
	background-color: #21AB23;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-arrow {
	float: right;
    margin-right: 14px;
    margin-top: 18px;
    border-color: white;
}

.active .menu-arrow {
	border-color: black;
}

.second-level-menu > li .menu-arrow {
	border-color: black;
}

.second-level-menu > li:hover .menu-arrow {
	border-color: white;
}

.third-level-menu > li .menu-arrow {
	border-color: black;
}

.third-level-menu > li:hover .menu-arrow {
	border-color: white;
}